#quem-somos {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 800px;

}

#quem-somos h2 {
  font-weight: bold;
  margin-bottom: 30px;
}
.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: 40px; 
}

.sobre__titulo {
  text-align: center;
  font-size: 32px;
  color: #180c1d;
  padding-bottom: 20px;
  padding-top: 70px;

}
.sobre-container {
  background-size: cover;
  background-repeat: repeat;
  background-color: #492E72;
  background-image: linear-gradient(to bottom, #492E72, #3F3D56);
  color: #ffffff;
  padding: 60px 0;
}

.shadow-box {
  width: 640px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
}

.shadow-box__text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 12px;
}

.icons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 60px;
  gap: 20px;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 300px;
}

.icon {
  color: #FF5733;
  font-size: 48px;
  margin-bottom: 30px;
}

.icon-box h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.icon-box p {
  font-size: 16px;
}

.somos-img{
 width: 100%;
 height: 800px;
}

.somos-img img{
  width: 100%;
  position: relative;
  height: 800px;
  z-index: +1;
  object-fit: cover;
 }

.faleconosco-img{
  background-image: url("https://live.staticflickr.com/65535/52733060218_d894d8ac5b_h.jpg");
  width: 100%;
  height: 300px;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 3px solid #FF5733
}


.fundoconosco-text{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  z-index: 20;
}
.btn{
  font-weight: 100;
  font-size: 14px;
  color: #fff;
  background-color: transparent;
  padding: 10px 30px;
  border: solid #f4a261 2px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 1px;
  transition : 777ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

  .btn:hover{

    transition : 777ms;
    padding: 10px 26px;
    transform : translateY(-0px);
    background-color: #f4a261;
    color: white;
    border: solid 2px #f4a261;
  }
