.servico-container{
  width: 100%;
  height: 550px;
  background-color: rgb(255, 247, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.title-service{
  font-size: 32px;
  color: #180c1d;
}

